@font-face {
  font-family: 'SF-Semibold';
  src: url("../assets/fonts/SF-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'SF-Regular';
  src: url("../assets/fonts/SF-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SF-Light';
  src: url("../assets/fonts/SF-Light.otf") format("opentype");
}

.button {
  background-color: transparent;
  cursor: pointer;
  font-family: 'SF-Semibold';
  font-size: 1rem;
}

.button__round--md {
  color: #d2d2d2;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  padding: 10px 30px;
}

.button--hidden {
  display: none;
}
