.signin__container {
    display: flex;
    
    .buttons-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;

        .button__round--md {
            margin: 10px 0;
        }
    }
}