.signin__container {
  display: flex;
}

.signin__container .buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.signin__container .buttons-container .button__round--md {
  margin: 10px 0;
}
