@import './colors.scss';
@import './mixins.scss';
@import './fonts.scss';

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(45deg, $purple-dark 20%, $purple-light 50%);
}

//Containers

.page__container {
    width: 100%;
    height: auto;

    &--half {
        width: 50%;
        height: auto;
    }
}

.container {
    &--full {
        width: 100%;
    }
    &--half {
        width: 50%;
    }
}

//Links

.link {
    font-family: 'SF-Regular';

    &__nav {
        padding: 10px 20px;
        color: $text-black;
        font-size: 1rem;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid $purple-dark;
        }
    }
}