@font-face {
  font-family: 'SF-Semibold';
  src: url("../assets/fonts/SF-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'SF-Regular';
  src: url("../assets/fonts/SF-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SF-Light';
  src: url("../assets/fonts/SF-Light.otf") format("opentype");
}

html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(45deg, #5925b3e3 20%, #873792e8 50%);
}

.page__container {
  width: 100%;
  height: auto;
}

.page__container--half {
  width: 50%;
  height: auto;
}

.container--full {
  width: 100%;
}

.container--half {
  width: 50%;
}

.link {
  font-family: 'SF-Regular';
}

.link__nav {
  padding: 10px 20px;
  color: #414141;
  font-size: 1rem;
  margin: 0 10px;
  text-decoration: none;
}

.link__nav:hover {
  border-bottom: 2px solid #5925b3e3;
}
